@import "variables";

.board-container {
  display: flex;

  justify-content: center;

  .ranks {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;

    .rank {
      height: 100px;
      margin-right: 5px;
    }
    &.reverse {
      flex-direction: column;
    }
  }

  .chessboard {
    height: 800px;
    width: 800px;
    display: flex;
    flex-wrap: wrap;
  }
  .files {
    display: flex;
    flex-direction: row;

    &.reverse {
      flex-direction: row-reverse;
    }
    .file {
      width: 100px;
      text-align: center;
      margin-top: 5px;
    }

    // .form-group {
    //   margin-bottom: 2rem;
    //   width: 100%;
    //   align-items: center;
    //   justify-content: center;
    //   display: flex;
    //   input {
    //     padding: 0.7rem 0.5rem;
    //     width: 30%;
    //     border-radius: 5px;
    //     border: 1px solid black;
    //     margin-right: 1rem;

    //     &:focus {
    //       outline: none;
    //     }
    //   }
    //   button {
    //     padding: 0.7rem 1.2rem;
    //     border-radius: 5px;
    //     border: none;
    //     background-color: rgb(50, 136, 50);
    //     color: #fff;
    //     font-size: 1rem;
    //     font-weight: 600;

    //     &:hover {
    //       cursor: pointer;
    //     }
    //   }
    // }
  }
}
