@import "variables";

.board-container {
  display: flex;
  align-items: top;
  justify-content: center;

  .ranks {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;

    .rank {
      height: 100px;
      margin-right: 5px;
    }
  }

  .chessboard {
    height: 800px;
    width: 800px;
    // margin: 0 auto;
    background-color: #7b3e26;
    display: flex;
    flex-wrap: wrap;
    .files {
      display: flex;
      flex-direction: row;
      .file {
        width: 100px;
        text-align: center;
        margin-top: 5px;
      }
    }

    // .form-group {
    //   margin-bottom: 2rem;
    //   width: 100%;
    //   align-items: center;
    //   justify-content: center;
    //   display: flex;
    //   input {
    //     padding: 0.7rem 0.5rem;
    //     width: 30%;
    //     border-radius: 5px;
    //     border: 1px solid black;
    //     margin-right: 1rem;

    //     &:focus {
    //       outline: none;
    //     }
    //   }
    //   button {
    //     padding: 0.7rem 1.2rem;
    //     border-radius: 5px;
    //     border: none;
    //     background-color: rgb(50, 136, 50);
    //     color: #fff;
    //     font-size: 1rem;
    //     font-weight: 600;

    //     &:hover {
    //       cursor: pointer;
    //     }
    //   }
    // }

    .square {
      height: 100px;
      width: 100px;
    }
    .dark {
      background: $primary-color;
      color: #fff;
    }

    .light {
      background: $secondary-color;
    }
  }
}
